<fc:component>
	<fc:param name="colors" type="string" default=""/>
	<fc:renderer>

	<div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
	<f:for each="{colors}" as="color">
		<f:if condition="{color} == '-br-'">
			<f:then>
				<div style="flex: 1 1 100%; height:0"><hr></div>
			</f:then>
			<f:else>
				<div style="
					height: 150px;
					flex: 0 0 150px;
					background-color: var(--{color});
					padding: 20px;
					margin: 10px;
					border: 1px dotted var(--color);">
					<p class="colorCode" style="
						padding: 10px;
						text-align: center;
						background: #55555580">{color}
				    </p>
				</div>
			</f:else>
		</f:if>
	</f:for>
	</div>

	</fc:renderer>
</fc:component>