@charset "UTF-8";
/*doc
---
title: RTE
name: rte
category: Utilities
---

Central Style Sheet
this is the only one included into the HTML-Code

*/
/* use utilities */
/*doc
 * cp_base:fonts
*/
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@font-face {
  font-family: "LigatureSymbols";
  src: url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.eot");
  src: url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"), url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.woff") format("woff"), url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.ttf") format("truetype"), url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  src: url("../Fonts/LigatureSymbols/LigatureSymbols-2.11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 30, ../../Private/Sass/_fonts.scss */
* {
  text-rendering: optimizeLegibility;
}

/* line 34, ../../Private/Sass/_fonts.scss */
.cp-link--iinternal:before,
.cp-link--iexternal:before,
.cp-link--ibutton:before,
.cp-link--ifon:before,
.cp-link--imail:before,
.cp-link--ifb:before,
.cp-link--itwitter:before,
.cp-link--iinsta:before,
.cp-link--idownload:before {
  font-family: "LigatureSymbols";
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga" 1, "dlig" 1;
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

/*doc
 * cp_base:constants
*/
/* Baseline Colors */
/* media brakepoints */
/* Baseline */
/* as css constants */
/* line 49, ../../Private/Sass/_constants.base.scss */
:root {
  --white: #ffffff;
  --extralight: #ececec;
  --lightgray: #cccccc;
  --gray: #666666;
  --dark: #333333;
  --black: #000000;
  --success: #c3f6a6;
  --info: #a3bae7;
  --error: #f3a8bb;
  --color: #343f3a;
  --custom1: #809483;
  --custom2: #824493;
  --custom3: #BA7DFF;
  --custom4: #416A7F;
  --highlight: #416A7F;
}

/*doc
 * cp_base:mixins
*/
/* line 7, ../../Private/Sass/utilities/_mixins.scss */
html, body, article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div, input,
select,
textarea, blockquote,
form,
fieldset, input[type="submit"],
button,
.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*doc
 * cp_base:normalize
*/
/* line 7, ../../Private/Sass/utilities/_normalize.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-size: calc(min(20px, 14px + max(0px,((100vw - 480px) * 6 / (1400 - 480)))));
  font-weight: normal;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
}

/* line 22, ../../Private/Sass/utilities/_normalize.scss */
body {
  display: block;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  position: relative;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 42, ../../Private/Sass/utilities/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div {
  display: block;
  padding: 0;
  margin: 0;
}

/* line 62, ../../Private/Sass/utilities/_normalize.scss */
input,
select,
textarea {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: calc(min(20px, 14px + max(0px,((100vw - 480px) * 6 / (1400 - 480)))));
  color: inherit;
  border: 0;
}

/* line 74, ../../Private/Sass/utilities/_normalize.scss */
blockquote,
form,
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Normalize width of `audio` in Chrome
 */
/* line 88, ../../Private/Sass/utilities/_normalize.scss */
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  min-width: 192px;
  /* 3 */
  max-width: 100%;
}

/* line 97, ../../Private/Sass/utilities/_normalize.scss */
audio {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  max-width: 250px;
  /* 3 */
  max-height: 40px;
}

/* line 104, ../../Private/Sass/utilities/_normalize.scss */
hr {
  border: 1px solid #ececec;
  margin: -1px 0;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 113, ../../Private/Sass/utilities/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Images
 */
/* line 121, ../../Private/Sass/utilities/_normalize.scss */
img {
  border: 0;
  width: 100%;
  height: auto;
  display: inline;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 132, ../../Private/Sass/utilities/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/**
 * Correct list styles
 */
/* line 139, ../../Private/Sass/utilities/_normalize.scss */
ol, ul {
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

/* line 145, ../../Private/Sass/utilities/_normalize.scss */
li {
  margin: 0;
  padding: 0;
}

/**
 * additional styles
 */
/* line 153, ../../Private/Sass/utilities/_normalize.scss */
strong {
  font-weight: bold;
}

/* line 157, ../../Private/Sass/utilities/_normalize.scss */
a, b, i, strong, em, small, code {
  line-height: 0;
}

/* line 161, ../../Private/Sass/utilities/_normalize.scss */
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../../Private/Sass/utilities/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 171, ../../Private/Sass/utilities/_normalize.scss */
sub {
  bottom: -0.25em;
}

/**
 * CSS Additions for Responsive Media
 * div ce-media
 * div ce-responsive-video
 * iframe
 */
/* line 183, ../../Private/Sass/utilities/_normalize.scss */
figure.video {
  width: 100%;
}

/* line 187, ../../Private/Sass/utilities/_normalize.scss */
div.video-embed {
  width: 100%;
}

/* line 191, ../../Private/Sass/utilities/_normalize.scss */
iframe.video-embed-item {
  max-width: 100%;
}

/*doc
 * cp_base:clearfix
*/
/* line 8, ../../Private/Sass/utilities/_clearfix.scss */
.cp-clearfix:after {
  clear: both;
  content: "";
  display: table;
}

/*doc
 * cp_base:hidding
*/
/* line 7, ../../Private/Sass/utilities/_hidding.scss */
[hidden],
template {
  display: none;
}

/* line 12, ../../Private/Sass/utilities/_hidding.scss */
.cp-hidding {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: -50000px;
  width: 1px;
}

/*doc
 * cp_base:constants.additional
*/
/* Font sizes */
/* layout + template (page) */
/* heading */
/* link */
/* border */
/* Button primary */
/* Button secondary */
/* Button disabled */
/* Accordion-Button */
/* form colors */
/* navigation colors */
/* Navigation Button */
/*doc
 * cp_base:fsc_styles
*/
/**
 * Fluid Styled Content CSS Definitions
 */
/**
 * Anpassung conPassione für Benutzung von Constants
 * und für rem anstatt em
 */
/* line 16, ../../Private/Sass/utilities/_fsc.scss */
.ce-table td, .ce-table th {
  vertical-align: top;
}

/* line 18, ../../Private/Sass/utilities/_fsc.scss */
.ce-textpic, .ce-image, .ce-nowrap .ce-bodytext,
.ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div {
  overflow: hidden;
}

/* line 21, ../../Private/Sass/utilities/_fsc.scss */
.ce-left .ce-gallery, .ce-column {
  float: left;
}

/* line 22, ../../Private/Sass/utilities/_fsc.scss */
.ce-center .ce-outer {
  position: relative;
  float: right;
  right: 50%;
}

/* line 23, ../../Private/Sass/utilities/_fsc.scss */
.ce-center .ce-inner {
  position: relative;
  float: right;
  right: -50%;
}

/* line 24, ../../Private/Sass/utilities/_fsc.scss */
.ce-right .ce-gallery {
  float: right;
}

/* line 26, ../../Private/Sass/utilities/_fsc.scss */
.ce-gallery figure {
  display: table;
  margin: 0;
  margin-bottom: 1rem;
}

/* line 27, ../../Private/Sass/utilities/_fsc.scss */
.ce-gallery figcaption {
  display: table-caption;
  caption-side: bottom;
}

/* line 28, ../../Private/Sass/utilities/_fsc.scss */
.ce-gallery img {
  display: block;
}

/* line 29, ../../Private/Sass/utilities/_fsc.scss */
.ce-gallery iframe {
  border-width: 0;
}

/* line 30, ../../Private/Sass/utilities/_fsc.scss */
.ce-border img,
.ce-border iframe {
  border: 1px solid transparent;
  padding: 1.5rem;
}

/* line 36, ../../Private/Sass/utilities/_fsc.scss */
.ce-intext.ce-right .ce-gallery,
.ce-intext.ce-left .ce-gallery,
.ce-above .ce-gallery,
.ce-below .ce-gallery {
  margin-bottom: 0;
  max-width: 100%;
}

/* line 43, ../../Private/Sass/utilities/_fsc.scss */
.ce-intext.ce-right .ce-gallery {
  margin-left: 1.5rem;
}

/* line 44, ../../Private/Sass/utilities/_fsc.scss */
.ce-intext.ce-left .ce-gallery {
  margin-right: 1.5rem;
}

/* line 46, ../../Private/Sass/utilities/_fsc.scss */
.ce-intext.ce-right.ce-nowrap .ce-gallery,
.ce-intext.ce-left.ce-nowrap .ce-gallery {
  max-width: 45%;
}

/* line 51, ../../Private/Sass/utilities/_fsc.scss */
.ce-column {
  margin-right: 1.5rem;
}

/* line 52, ../../Private/Sass/utilities/_fsc.scss */
.ce-column:last-child {
  margin-right: 0;
}

/* line 54, ../../Private/Sass/utilities/_fsc.scss */
.ce-right.ce-above .ce-row {
  float: right;
}

/* missing in original file */
/* line 55, ../../Private/Sass/utilities/_fsc.scss */
.ce-row {
  padding-top: 1.5rem;
  margin-bottom: 0;
}

/* line 56, ../../Private/Sass/utilities/_fsc.scss */
.ce-row:last-child {
  margin-bottom: 0;
}

/* line 58, ../../Private/Sass/utilities/_fsc.scss */
.ce-above .ce-bodytext {
  clear: both;
}

/* line 59, ../../Private/Sass/utilities/_fsc.scss */
.ce-above .ce-gallery {
  margin: 0;
  width: 100%;
}

/*.ce-intext.ce-left ol, .ce-intext.ce-left ul { padding-left: 40px; overflow: auto; }*/
/* Headline */
/* line 64, ../../Private/Sass/utilities/_fsc.scss */
.ce-headline-left {
  text-align: left;
}

/* line 65, ../../Private/Sass/utilities/_fsc.scss */
.ce-headline-center {
  text-align: center;
}

/* line 66, ../../Private/Sass/utilities/_fsc.scss */
.ce-headline-right {
  text-align: right;
}

/* Uploads */
/* line 69, ../../Private/Sass/utilities/_fsc.scss */
.ce-uploads {
  margin: 0;
  padding: 0;
}

/* line 70, ../../Private/Sass/utilities/_fsc.scss */
.ce-uploads li {
  list-style: none outside none;
  margin: 1rem 0;
}

/* line 71, ../../Private/Sass/utilities/_fsc.scss */
.ce-uploads img {
  float: left;
  padding-right: 1rem;
  vertical-align: top;
  width: 2rem;
}

/* line 72, ../../Private/Sass/utilities/_fsc.scss */
.ce-uploads span {
  display: block;
}

/* Table */
/* line 75, ../../Private/Sass/utilities/_fsc.scss */
.ce-table {
  width: 100%;
  max-width: 100%;
}

/* Anpassung padding und Umsetzung in rem*/
/* line 77, ../../Private/Sass/utilities/_fsc.scss */
.ce-table th, .ce-table td {
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}

/* line 78, ../../Private/Sass/utilities/_fsc.scss */
.ce-table thead th {
  border-bottom: 2px solid #333333;
}

/* line 79, ../../Private/Sass/utilities/_fsc.scss */
.ce-table th, .ce-table td {
  border-top: 1px solid #333333;
}

/* line 80, ../../Private/Sass/utilities/_fsc.scss */
.ce-table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 81, ../../Private/Sass/utilities/_fsc.scss */
.ce-table-bordered th, .ce-table-bordered td {
  border: 1px solid #343f3a;
}

/* Space */
/* line 84, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-before-extra-small {
  margin-top: 1rem;
}

/* line 85, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-before-small {
  margin-top: 2rem;
}

/* line 86, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-before-medium {
  margin-top: 3rem;
}

/* line 87, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-before-large {
  margin-top: 4rem;
}

/* line 88, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-before-extra-large {
  margin-top: 5rem;
}

/* line 89, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-after-extra-small {
  margin-bottom: 1rem;
}

/* line 90, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-after-small {
  margin-bottom: 2rem;
}

/* line 91, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-after-medium {
  margin-bottom: 3rem;
}

/* line 92, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-after-large {
  margin-bottom: 4rem;
}

/* line 93, ../../Private/Sass/utilities/_fsc.scss */
.frame-space-after-extra-large {
  margin-bottom: 5rem;
}

/* Frame */
/* line 96, ../../Private/Sass/utilities/_fsc.scss */
.frame-ruler-before:before {
  content: '';
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}

/* line 97, ../../Private/Sass/utilities/_fsc.scss */
.frame-ruler-after:after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
}

/* line 98, ../../Private/Sass/utilities/_fsc.scss */
.frame-indent {
  margin-left: 15%;
  margin-right: 15%;
}

/* line 99, ../../Private/Sass/utilities/_fsc.scss */
.frame-indent-left {
  margin-left: 33%;
}

/* line 100, ../../Private/Sass/utilities/_fsc.scss */
.frame-indent-right {
  margin-right: 33%;
}

/*doc
 * cp_base:ck-editor
*/
/* line 6, ../../Private/Sass/utilities/_ck_editor.scss */
html {
  background: white;
}

/* line 10, ../../Private/Sass/utilities/_ck_editor.scss */
body.cke_editable {
  padding: 10px;
}
/* line 12, ../../Private/Sass/utilities/_ck_editor.scss */
body.cke_editable > *:last-child {
  border-bottom: 3px dotted lightgray;
}
/* line 16, ../../Private/Sass/utilities/_ck_editor.scss */
body.cke_editable ul li {
  padding-left: 1.5rem;
  margin-left: 0;
  position: relative;
}
/* line 20, ../../Private/Sass/utilities/_ck_editor.scss */
body.cke_editable ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.45rem;
  left: 0.03rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #809483;
}
/* line 32, ../../Private/Sass/utilities/_ck_editor.scss */
body.cke_editable ol {
  counter-reset: cp-counter;
}
/* line 34, ../../Private/Sass/utilities/_ck_editor.scss */
body.cke_editable ol li {
  padding-left: 1.5rem;
  margin-left: 0;
  position: relative;
}
/* line 38, ../../Private/Sass/utilities/_ck_editor.scss */
body.cke_editable ol li:before {
  position: absolute;
  content: counter(cp-counter) ".";
  counter-increment: cp-counter;
  color: inherit;
  font-size: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.5rem;
}

/* special classes to adjust RTE-Editor */
/* line 54, ../../Private/Sass/utilities/_ck_editor.scss */
.htmlarea-content-body {
  background: #ffffff;
}

/* use atoms (core styles) */
/*doc
 * cp_base:paragraphs
*/
/* line 7, ../../Private/Sass/components/atoms/_paragraphs.scss */
p, pre, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.25rem;
  line-height: 1.25rem;
  hyphens: auto;
}

/* line 14, ../../Private/Sass/components/atoms/_paragraphs.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 18, ../../Private/Sass/components/atoms/_paragraphs.scss */
strong {
  font-weight: 700;
}

/* line 22, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-highlight {
  color: #416A7F;
}

/* line 26, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-info {
  background-color: #a3bae7;
}

/* line 30, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-success {
  background-color: transparent;
  color: #c3f6a6;
}

/* line 35, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-error {
  background-color: #f3a8bb;
}

/* line 40, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-align-left {
  text-align: left;
}

/* line 44, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-align-center {
  text-align: center;
}

/* line 48, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-align-right {
  text-align: right;
}

/* line 52, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-align-justify {
  text-align: justify;
}

/* line 56, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-fontSize--small {
  font-size: 0.75rem;
}

/* line 60, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-fontSize--big {
  font-size: 1.25rem;
}

/* line 64, ../../Private/Sass/components/atoms/_paragraphs.scss */
blockquote {
  text-align: center;
}
/* line 66, ../../Private/Sass/components/atoms/_paragraphs.scss */
blockquote::before {
  color: #416A7F;
  content: "\00201C";
  font-size: 3.5rem;
  font-family: "Ubuntu", serif;
  vertical-align: text-bottom;
}
/* line 73, ../../Private/Sass/components/atoms/_paragraphs.scss */
blockquote::after {
  color: #416A7F;
  content: "\00201D";
  font-size: 3.5rem;
  font-family: "Ubuntu", serif;
  vertical-align: text-bottom;
}
/* line 80, ../../Private/Sass/components/atoms/_paragraphs.scss */
blockquote p {
  display: inline;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-style: italic;
}

/* line 88, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-headerTitleAdress {
  text-align: right;
  hyphens: manual;
  flex: 0 0 0;
}
/* line 92, ../../Private/Sass/components/atoms/_paragraphs.scss */
.cp-headerTitleAdress h1 {
  font-size: 2.02276rem;
  line-height: 2.02276rem;
}
@media (min-width: 750px) {
  /* line 97, ../../Private/Sass/components/atoms/_paragraphs.scss */
  .cp-headerTitleAdress h1 {
    font-size: 3.04175rem;
    line-height: 3.04175rem;
  }
}
@media (min-width: 1024px) {
  /* line 103, ../../Private/Sass/components/atoms/_paragraphs.scss */
  .cp-headerTitleAdress h1 {
    font-size: 4.04553rem;
    line-height: 4.04553rem;
  }
}

/*doc
 * cp_base:headings
*/
/* line 7, ../../Private/Sass/components/atoms/_headings.scss */
h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  color: #809483;
  background: transparent;
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}

/* line 14, ../../Private/Sass/components/atoms/_headings.scss */
h5, .h5 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

/* line 22, ../../Private/Sass/components/atoms/_headings.scss */
h4, .h4 {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

/* line 30, ../../Private/Sass/components/atoms/_headings.scss */
h3, .h3 {
  font-size: 1.15rem;
  line-height: 1.4375rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

/* line 38, ../../Private/Sass/components/atoms/_headings.scss */
h2, .h2 {
  font-size: 1.3225rem;
  line-height: 1.65313rem;
  margin: 1.25rem 0;
}

/* line 46, ../../Private/Sass/components/atoms/_headings.scss */
h1, .h1 {
  font-size: 1.52087rem;
  line-height: 1.90109rem;
  margin: 1.25rem 0;
}

/* line 54, ../../Private/Sass/components/atoms/_headings.scss */
.ce-headline-center {
  text-align: center;
}

/* line 58, ../../Private/Sass/components/atoms/_headings.scss */
.ce-headline-right {
  text-align: right;
}

/*doc
 * cp_base:links
*/
/* Normalize Links
   ========================================================================== */
/* line 9, ../../Private/Sass/components/atoms/_links.scss */
a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}
/* line 13, ../../Private/Sass/components/atoms/_links.scss */
a:active, a:hover {
  outline: 0;
}

/* line 20, ../../Private/Sass/components/atoms/_links.scss */
p a:hover {
  text-decoration-line: underline;
  text-decoration-color: #824493;
  text-decoration-style: dotted;
}

/* line 27, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--iinternal,
.cp-link--iexternal,
.cp-link--ibutton,
.cp-link--ifon,
.cp-link--imail,
.cp-link--ifb,
.cp-link--itwitter,
.cp-link--iinsta,
.cp-link--idownload, .cp-link--internal,
.cp-link--external,
.cp-link--button,
.cp-link--fon,
.cp-link--mail,
.cp-link--fb,
.cp-link--twitter,
.cp-link--insta,
.cp-link--download, .headline-anchor {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}
/* line 31, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--iinternal:hover,
.cp-link--iexternal:hover,
.cp-link--ibutton:hover,
.cp-link--ifon:hover,
.cp-link--imail:hover,
.cp-link--ifb:hover,
.cp-link--itwitter:hover,
.cp-link--iinsta:hover,
.cp-link--idownload:hover, .cp-link--internal:hover,
.cp-link--external:hover,
.cp-link--button:hover,
.cp-link--fon:hover,
.cp-link--mail:hover,
.cp-link--fb:hover,
.cp-link--twitter:hover,
.cp-link--insta:hover,
.cp-link--download:hover, .headline-anchor:hover {
  text-decoration-line: underline;
  text-decoration-color: #824493;
  text-decoration-style: dotted;
}

/* line 40, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--iinternal:before,
.cp-link--iexternal:before,
.cp-link--ibutton:before,
.cp-link--ifon:before,
.cp-link--imail:before,
.cp-link--ifb:before,
.cp-link--itwitter:before,
.cp-link--iinsta:before,
.cp-link--idownload:before {
  color: inherit;
  font-size: 110%;
  padding-right: 0;
  padding-left: 0;
}

/* line 85, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--iinternal:before {
  content: "right\20";
}

/* line 91, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--iexternal:before {
  content: "external\20";
}

/* line 97, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--ibutton:before {
  content: "right\20";
}

/* line 103, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--ifon:before {
  content: "phone\20";
}

/* line 109, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--imail:before {
  content: "mail\20";
}

/* line 115, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--ifb:before {
  content: "facebook\20";
}

/* line 121, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--itwitter:before {
  content: "twitter\20";
}

/* line 127, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--iinsta:before {
  content: "instagram\20";
}

/* line 133, ../../Private/Sass/components/atoms/_links.scss */
.cp-link--idownload:before {
  content: "download\20";
}

/* line 138, ../../Private/Sass/components/atoms/_links.scss */
.headline-anchor {
  color: #cccccc;
  font-family: "LigatureSymbols";
}

/*doc
 * cp_base:lists
*/
/* line 10, ../../Private/Sass/components/atoms/_lists.scss */
.frame-type-text ul li,
.body-text ul li {
  padding-left: 1.5rem;
  margin-left: 0px;
  position: relative;
}
/* line 14, ../../Private/Sass/components/atoms/_lists.scss */
.frame-type-text ul li:before,
.body-text ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.45rem;
  left: 0.03rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #416A7F;
}
/* line 26, ../../Private/Sass/components/atoms/_lists.scss */
.frame-type-text ol,
.body-text ol {
  counter-reset: cp-counter;
}
/* line 28, ../../Private/Sass/components/atoms/_lists.scss */
.frame-type-text ol li,
.body-text ol li {
  padding-left: 1.5rem;
  margin-left: 0;
  position: relative;
}
/* line 32, ../../Private/Sass/components/atoms/_lists.scss */
.frame-type-text ol li:before,
.body-text ol li:before {
  position: absolute;
  content: counter(cp-counter) ".";
  counter-increment: cp-counter;
  color: inherit;
  font-size: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.8rem;
}

/* flie-list (uploads) */
/* line 49, ../../Private/Sass/components/atoms/_lists.scss */
.ce-uploads-filesize {
  font-size: 0.8rem;
}

/*doc
 * cp_base:buttons
*/
/* line 7, ../../Private/Sass/components/atoms/_buttons.scss */
input[type="submit"],
button,
.button {
  -webkit-appearance: none;
  /*apple ios*/
  -moz-appearence: none;
  /*apple ios*/
  appearance: none;
  background-color: #824493;
  border: 0px solid transparent;
  border-radius: 5px;
  /*apple ios*/
  color: #cccccc;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
/* line 23, ../../Private/Sass/components/atoms/_buttons.scss */
input[type="submit"]:focus,
button:focus,
.button:focus, input[type="submit"]:hover,
button:hover,
.button:hover {
  background-color: #809483;
  color: #ffffff;
  border-color: transparent;
  text-decoration: none;
}

/* line 38, ../../Private/Sass/components/atoms/_buttons.scss */
.cp-button--secondary {
  background-color: #666666;
  color: #cccccc;
  border-color: transparent;
}
/* line 42, ../../Private/Sass/components/atoms/_buttons.scss */
.cp-button--secondary:focus, .cp-button--secondary:hover {
  background-color: #333333;
  color: #ffffff;
  border-color: transparent;
}

/* line 50, ../../Private/Sass/components/atoms/_buttons.scss */
.cp-button--inactive {
  background-color: #666666;
  color: #333333;
  border-color: transparent;
}
/* line 54, ../../Private/Sass/components/atoms/_buttons.scss */
.cp-button--inactive:focus, .cp-button--inactive:hover {
  background-color: #666666;
  color: #333333;
  border-color: transparent;
}
