<fc:component>
	<fc:param name="alignement" type="string" default="left"/>
	<fc:renderer>
		<h1 class="cp-align-{alignement}">Titel H1</h1>
		<h2 class="cp-align-{alignement}">Titel H2</h2>
		<h3 class="cp-align-{alignement}">Titel H3</h3>
		<p>Das ist ein normaler Text, den man hier einsetzen kann ohne dass was besonderes daran wäre.</p>
		<h3 class="cp-align-{alignement}">Titel H3</h3>
		<p>Das ist ein normaler Text, den man hier einsetzen kann ohne dass was besonderes daran wäre.</p>
	</fc:renderer>
</fc:component>